*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
    height: 100vh;
    overflow-y: scroll;
}

.info-topbar{
    height: 8%;
    background-color: #2563EB;
    display: flex;
    align-items: center;

}
.mode-name{
        font-weight: bolder;
        font-family: sans-serif;
        font-size: 1.50rem;
        color: #ffffff;
        position: relative;
        left: 10%;
    }

.parent-question-name{
    min-height: 40%;
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
    background-color: #ede3e3;
    
}
.parent-next-question {
        display: flex;
        align-items: center;
        justify-content: center;
    }
.parent2-question-name{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
.question-name{
    font-size: 1.7rem;
    text-align: center;
}
.answer-choice-container{
    height: 40%;
    display:flex;
    flex-direction: column;
    margin-top: 5%;
    .answer-choice-top{
        display: flex;
        justify-content: center;
        gap: 15%;
    }
    .answer-choice-bottom{
        display: flex;
        justify-content: center;
        gap: 15%;
        margin-top: 50px;
    }
    }

    .answer-choice{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 400px;
        min-height: 100px;
        background-color: #2563EB;
        font-size: 1.25rem;
        text-align: center;
        color: #ffffff;
        border-radius: 999px;
        border: 0;
        transition: 0.2s;
    }
    
    .answer-choice:hover{
        background-color: #0043d5;
        transform: scale(1.05);
    }
    .answer-choice:active{
        transform: scale(0.9);
    }
 
    .next-question{
        background-color: forestgreen;
        min-width: 100px;
        min-height: 35px;
        border-radius: 10px;
        border: 0;
        color: #ffffff;
        
    }
    

.footer{
    height: 20%;
}